# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
env/
.env/

# Flask specific
instance/
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
