flask
Flask-WTF
WTForms
spacy
beautifulsoup4
pandas
numpy
requests
Flask-SQLAlchemy
psycopg2-binary
transformers
torch
google-generativeai
scikit-learn
faiss-cpu  # Solo si planeas usar búsqueda por similitud rápida