<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>J2K - Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <main class="h-screen flex">
    <div class="text-center max-w-xl flex flex-col justify-center items-center mx-auto">
      <h1 class="text-4xl font-bold text-blue-600 mb-4">
        ¡Bienvenido a J2K IA!
      </h1>
      <p class="text-lg text-gray-700 mb-4">
        Descubre la mejor manera de encontrar productos de interés con J2K IA.
        Nuestra inteligencia artificial se encarga de buscar en la web y
        mostrarte un ranking de los mejores proveedores, precios y mucho más,
        todo en un solo lugar.
      </p>
      <div class="mt-8">
        <a
          href="/search"
          class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700"
        >
          Comienza tu búsquedas
        </a>
      </div>
    </div>
  </main>
</html>
